body {
   margin: 0;
}
div {
   margin-top: 200px;
   position: relative;
   height: 300px;
   width: 300px;
}
img {
   height: 300px;
   width: 300px;
}
p {
   margin: 0;
   position: absolute;
   height: 300px;
   width: 300px;
   top: 0;
   /* bottom: 0; */
   /* left: 0; */
   /* right: 0; */
   background: darkgray;
   color: white;
   /* visibility: hidden; */
   opacity: 0;
}
div:hover p {
   /* visibility: visible; */
   opacity: 0.7;
}
